.democolumns > div {
    display: flex;
    flex-direction: column;
}
.democolumns-2-cols {
    background-color: beige;
}
.democolumns > div > div {
    order: 1;
}

@media (width >= 900px) {
    .democolumns > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .democolumns > div > div {
        flex: 1;
        order: unset;
    }
}
