.customponent > div {
    display: flex;
    flex-direction: column;
}
.customponent-2-cols {
    background-color: yellow;
}
.customponent > div > div {
    order: 1;
}

@media (width >= 900px) {
    .customponent > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .customponent > div > div {
        flex: 1;
        order: unset;
    }
}
